<header id="page-header">
  <div id="masthead">
    <h1><%= link_to 'Flix', root_path %></h1>
		<nav>
			<p><%= link_to 'Twitter', 'https://www.twitter.com/switchjam' %></p>
		</nav>
  </div>
</header>
